%div.center.righteous
  .bg
    .header
      %h2
        Bong of the living dead
      .hr_container
        %hr

      %ul.list
        %li
          %a{:href => "#cast"} Cast
        %li
          %a{:href => "#trailer"} Trailer
        %li
          %a{:href => "#story"} Story
        %li
          %a{:href => "#videos"} Videos

  .container-fluid
    .characters.row
      %a.fade-in.chbale
        %img{:src => 'images/ch_bale.jpg'}
        .caption
      %a.fade-in.chadams
        %img{:src => 'images/ch_adams.jpg'}
        .caption
      %a.fade-in.chlawrence
        %img{:src => 'images/ch_lawrence.jpg'}
        .caption

    .characters.row
      %a.fade-in.chrenner
        %img{:src => 'images/ch_renner.jpg'}
        .caption
      %a.fade-in.chcooper
        %img{:src => 'images/ch_cooper.jpg'}
        .caption
      %a.fade-in.chlawrence
        %img{:src => 'images/ch_lawrence.jpg'}
        .caption
