%div.center
  .header.righteous
    %h2
      Meow of the living dead
    .hr_container
      %hr

    %ul.list
      %li
        %a{:href => "#cast"} Cast
      %li
        %a{:href => "#trailer"} Trailer
      %li
        %a{:href => "#story"} Story
      %li
        %a{:href => "#videos"} Videos

  .container-fluid
    .characters.row
      %a.fade-in.chbale
        %img{:src => 'images/ch_bale.jpg'}
        .caption
          .text
            Christian Bale
            %div
              As batman
      %a.fade-in.chadams
        %img{:src => 'images/ch_adams.jpg'}
        .caption
          .text
            Amy Adams
            %div
              As professional slut
      %a.fade-in.chlawrence
        %img{:src => 'images/ch_lawrence.jpg'}
        .caption
          .text
            Jennifer Lawrence
            %div
              As jlaw

    .characters.row
      %a.fade-in.chrenner
        %img{:src => 'images/ch_renner.jpg'}
        .caption
          .text
            Jeremy Renner
            %div
              As hawkeye
      %a.fade-in.chcooper
        %img{:src => 'images/ch_cooper.jpg'}
        .caption
          .text
            Bradley Cooper
            %div
              As asshole


      %a.fade-in.chlawrence
        %img{:src => 'images/ch_lawrence.jpg'}
        .caption
          .text
            Jennifer Lawrence
            %div
              As anything


