!!! 5
%html
  %head
    %title Bong of the living dead
    %link{rel: 'stylesheet', href: '/stylesheets/style.css'}
    %link{rel: 'stylesheet', href: '/stylesheets/bootstrap.min.css'}
    %link{rel: 'stylesheet', href:"http://fonts.googleapis.com/css?family=Butcherman", type: 'text/css'}

  %body
    = yield
 
