@import 'bourbon/bourbon';

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-moz-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


@-webkit-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@-moz-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: local('Righteous'), local('righteous-regular'), url(http://themes.googleusercontent.com/static/fonts/righteous/v3/w5P-SI7QJQSDqB3GziL8XbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}


@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: local('Righteous'), local('righteous-regular'), url(http://themes.googleusercontent.com/static/fonts/righteous/v3/w5P-SI7QJQSDqB3GziL8XbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

body {
  //#09B
  color: #FFF;
  background: url("/images/the_plan2.jpg");
  background-position: center center;
  background-size: cover; 

  .moneygrabbin {
    margin-top: 40px;
    width: 40%;
    height: 315px;
    margin-left: 30%;
  }

  .righteous {
    font-family: 'Butcherman', cursive;
    text-transform: uppercase;
  }

  .header {
    position: relative;
    z-index: 20;
    font: inherit;

    h2 {
      font-size: 60px;
      padding: 0px;
      margin: 0px;
    }

    .hr_container {
      width: 40%;
      margin-left: 30%;
      padding: 0px;

      .hr_white {
        background-color: #FFF;
        margin-top: 2px;
        margin-bottom: 0px;
        height: 2px;
        width: 30%;
        margin-left: 35%;
      }
    }


    ul.list {
      list-style: none;
      font: inherit;
      padding-left: 0px;
      font-size: 20px;


      li {
        font: inherit;
        display: inline-block;
        padding-right: 13px;

        a {
          font: inherit;
          color: #FFF;
          text-decoration: none;
        }

      }
    }

  }

  .center { text-align: center; }

  h2 {
    color: #FFF;
    margin-bottom: 0px;
  }

  .characters{
    margin-left: 30%;
    margin-top: 10px;

    .fade-in{ 
      background-color: #000;
      border: 1px solid #FFF;
      margin-right: 1%;
      border-radius: 5px;
      float: left;
      position: relative;
      width: 18.5%;
      opacity: 0;
      @include animation(fadeIn 1.0s ease-in); 
      -webkit-animation-fill-mode:forwards;
      animation-fill-mode:forwards;
      overflow: hidden;

      img {
        width: 90%;
        position: relative;
      }

    }

    a {
      color: #FFF;
      text-decoration: none;
      cursor: pointer;

      .caption {
        @include animation(fadeOut 0.5s ease-out); 
        -webkit-animation-fill-mode:forwards;
        animation-fill-mode:forwards;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('/images/bg_caption.png') center bottom repeat-x;
        z-index: 100;      

        .text{
        
          margin-top: 60%;
          padding-top: 60%;
        }

      }
      &:hover{
        .caption {
          @include animation(fadeIn 0.5s ease-in); 

        }
      }
    }


  }

  .fade-in.chbale { 
    animation-delay: 2.0s;
    -webkit-animation-delay: 2.0s;  
  }
  .fade-in.chcooper {
    animation-delay: 1.0s;
    -webkit-animation-delay: 1.0s;
  }  
  .fade-in.chadams {
    // animation-delay: 2.0s;
    // -webkit-animation-delay: 2.0s;
  }  
  .fade-in.chrenner {
    animation-delay: 2.0s;
    -webkit-animation-delay: 2.0s;
  }  
  .fade-in.chlawrence {
    animation-delay: 2.0s;
    -webkit-animation-delay: 2.0s;
  }

}

